.notifies {
    position: fixed;
    top: 85px;
    right: 0;
    width: 300px;
    z-index: 100;
    padding: 15px;
}

.notify {
    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #cecece;
}

.notify:last-child {
    margin-bottom: 0;
}

.notify--success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.notify--error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
